mixin patientCard(userOfList,index)
	div(id=`accordion-collapse-body-${index}` class="hidden" aria-labelledby=`accordion-collapse-heading-${index}`)
		div(class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900")
			each medicine in userOfList.medications
				include medicineCard
				+medicineCard(medicine)
			form()
				input(type="text" name="patient_id" placeholder="Id" value=userOfList.info.patient_id class="border-2 hidden border-gray-300 rounded-md p-2 m-2")
				button(type="submit" class="rounded bg-green text-white" hx-get="/api/action/addMedication") Add Medication
