doctype html
html(lang="en")
	head
		title= title
		script(src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous" defer)
		script(src="https://cdn.tailwindcss.com")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="htmx-config" content='{withCredentials: true}')
		script(src="/js/main.js" defer)
		link(href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet")
	body(class="bg-[#cbdeb1]")
		include ./includes/navbar
		+navbar(user)
		h1(class="text-3xl text-center font-bold m-6 bg-gradient-to-r from-emerald-400 to-green-700 bg-clip-text text-transparent") Your Family
			a(class="bg-white rounded-lg shadow-lg p-2 text-black m-2 w-64" href="/addPatient" data-accordion="item") Add Patient
			div(class="container sm:flex w-fit m-auto p-6 shadow-lg" id="accordion-collapse" data-accordion="collapse")
				include ./includes/patientCard.pug
				each userOfList,index in usersList 
					+patientCard(userOfList,index)
	script(src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js")
